body {
    /* Fondo vibrante estilo cartoon / césped o tierra clara */
    background-color: #f7e09e;
    background-image:
        radial-gradient(#e1cc8b 10%, transparent 10.5%),
        radial-gradient(#e1cc8b 10%, transparent 10.5%);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', 'Arial Rounded MT Bold', sans-serif;
    overflow: hidden; /* Oculta los scrollbars para el canvas fijo */
}